<!DOCTYPE html>
<html lang="en">
    <header>
        <div class="logo-container">
            <img id="logo" src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="StudyFlow Logo">
        </div>
        <div class="title-container">
            <h1 class="title">StudyFlow</h1>
        </div>
    </header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for file in files %}
        <li>
            <a href="{{ url_for('main.download_file', filename=file) }}">{{ file }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
