<!DOCTYPE html>
<html lang="en">
    <header>
        <div class="logo-container">
            <img id="logo" src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="StudyFlow Logo">
        </div>
        <div class="title-container">
            <h1 class="title">StudyFlow</h1>
        </div>
    </header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Registered Users</h1>
    <ul>
        {% for user in users %}
            <li>Username: {{ user.username }}, Email: {{ user.email }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>

